.Transaction{
width: 359px;
height: 94%;
flex-shrink: 0;
border-radius: 12px;
background-color: #fff;
text-align: center;
margin-top: 6px;

}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}




.Transaction-title{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 21px;
}

.Transaction h2{
    font-family: Plus Jakarta Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 24px */
letter-spacing: 0.08px;
}

.Transaction img{
width: 16px;
height: 16px;
flex-shrink: 0;

}