@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@400;500;600&family=Poppins&family=Space+Grotesk:wght@500&family=Urbanist:wght@500;800&display=swap');

.Filter {
    width: 317px !important;
    height: 490px;
    box-shadow: 3px 0px 20px 10px rgba(61, 70, 112, 0.08);
}

.Filter .label-one {
    margin-left: 15px;
    float: left;
    font-size: 14px;
    font-weight: 400;
    font-family: inter;
    margin-top: 12px;
    color: rgba(131, 137, 140, 1);
}

.Filter input[type=checkbox] {
    height: 20px;
    width: 20px;
    border-radius: 8px;
    cursor: pointer;
    accent-color: rgba(182, 117, 113, 1);
    float: left;
    margin-top: 12px;
    margin-left: 12px;
}

.Filter h2 {
    font-size: 16px;
    font-weight: 500;
    font-family: inter;
    margin-left: 12px;
    padding-top: 17px;
}

.Filter h6 {
    font-size: 12px;
    font-weight: 400;
    font-family: inter;
    margin-top: 21px;
    color: rgba(83, 84, 92, 1);
    margin-left: 12px;
}

.Filter hr {
    margin-left: 12px;
    width: 100%;
}

.Filter-Status label {
    margin-left: 12px;
    font-size: 12px;
    font-weight: 400;
    font-family: inter;
    color: rgba(83, 84, 92, 1);
}
.Filter-Status select{
    margin-top: 8px;
    margin-left: 12px;
    width: 93%;
    cursor: pointer;
}
.Filter-Status p{
    font-size: 10px;
    font-weight: 600;
    font-family: inter;
    line-height: 15px;
    margin-top: 8px;
    margin-left: 14px;
    margin-bottom: auto;
}
.Filter-Status input{
    margin-left: 12px;
    height: 38px;
    border: 1px solid rgba(225, 226, 233, 1);
    border-radius: 8px;
    padding: 10px;
    margin-top: 4px;
    width: 90%;
    outline: none;
}
.Filter-Status input::placeholder{
    color: black;
    font-size: 14px;
    font-weight: 500;
    font-family: inter;
}
.Filter-Status .input1{
    margin-left: 0px;
}
.Filter-Status button{
    height: 36px;
    margin-top: 22px;
    width: 100%;
    margin-left: 12px;
    border-radius: 12px;
    background-color: rgba(182, 117, 113, 1);
    border: none;
    color: white;
}
.Filter hr{
    color: rgb(197, 196, 196);
}
