@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.DamagedButton-btn{
    margin-top: 10px;
    width: 85px;
    height: 23px;
    color: #CC5F5F;
    background: var(--Secondary-Red-Red-50, #FEECEE); 
    padding: 4px, 11px, 4px, 11px;
    border-radius: 8px;
    border: none;
    gap: 10px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
}